<section class="hero-home mat-typography">
  <div class="hero-image">
  </div>
  <div class="hero-container">
    <div class="hero-text">
      <h1 class="headline-1">Ma compétition de hand</h1>

    </div>
    <div class="hero-search">
      <input placeholder="Entre le nom de ton club" [(ngModel)]="searchQuery">
      <button mat-fab extended color="primary" (click)="searchClubs()">Cherche</button>
    </div>
  </div>
</section>
<mat-card *ngIf="clubs.length > 0" class="club-list">
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let club of clubs">
        <h3 mat-line>{{club.ref}}</h3>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
